

<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <link rel="stylesheet" href="CSS/indexStylesheet.css">
    <script
      src="https://kit.fontawesome.com/c5a92afa13.js"
      crossorigin="anonymous"
    ></script>
</head>
<body style="width: 100%;">
    <div class="maindiv" >
        <nav>
            <div class="container">
            <!-- <div class="logo"> -->
                <!-- <p style="color: white;">IIITA</p> -->
                <!-- <a href="index.html"><img src="assets/img/Logo2.png" alt="IIITA" style="height: 130px;width: auto; cursor: pointer;width: 100px;margin-left: 50px ;margin-top: 10px;"></a> -->
                 <p style="color: white; margin-left: 50px;font-size: 35px; margin:17px 50px; "><b><a style="text-decoration: none;color: inherit;" href="/index">Sustainify</a></b></p>
            <!-- </div> -->
            <div class="nav">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/ScrapRates">Scrap Rates</a></li>
                <li><a href="/PriceCalculator">Price Calculator</a></li>
                <li><a href="#AbtUs">About Us</a></li>
                
                <li><a href="/AskPage"><%= Account %></a></li>
                

            </ul>
            </div>
            </div>
        </nav>
    <article>
        <div class="bodyMain">
            <div class="body">
                
                <p style="font-size: 30;color: white;" ><b>Turn your scrap into cash, and waste into opportunity!</b>  </p>
                <!-- <p>Sustainify is an innovative scrap recycling platform connecting individuals and businesses to streamline the process of recycling scrap materials. Our mission is to promote sustainable living by making recycling easy, efficient, and rewarding.</p> -->
                <br>
                <form action="" class="LocationForm"></form>
                    <label for="Location" style="color: white; font-size: 20;">Set your pickup Location</label>
                    <br><br>
                <div>
                    <input type="text" id="Location" placeholder="Location" >
                    <i class="fa-solid fa-location-crosshairs"></i>
                </div>
                    
                </form>
                <br>
                <br><br><br><br>
                <a href="/AskPage"><button class="button2">Get Started</button></a>
            </div>
            <div class="BodyImg">
                <img src="assets/img/HomePageImg2.png" style="width: 500px;" alt="Img">
            </div>
        </div>
        <br><br><br> <br><br>
        <div class="steps">

            <p style="font-size: 40;color: #171717;">How it works?</p>
            <p style="font-size: 30; color: #666666;">In three Easy steps</p>
            
        </div>
        <br>
        <div class="table">
            <table>
                <tr><img id="img1" src="assets/img/1.png" alt="Img"></tr>
                <tr><img src="assets/img/2.png" id="img2" alt="Img"></tr>
                <tr><img src="assets/img/pickupboy.png" id="img3" alt="Img"></tr>
            </table>
        </div>
        <br>
        <br>
        <p style="font-size: 40;color: #171717;text-align: center;">Why Sustainify?</p>
        <div class="why">
            <!-- <table>
                <tr>
                    <td> -->
                    <ul>
                        <li><b>Eco-Friendly Impact:</b> Promotes sustainable waste management by recycling scrap.</li>
                        <li><b>User-Centric Platform:</b> Easy-to-use interface for efficient scrap disposal.</li>
                        <li><b>Community Engagement:</b> Connects recyclers, sellers, and buyers seamlessly.</li>
                        <li><b>Real-Time Tracking:</b> Offers live updates for scrap collection and processing.</li>
                    </ul>
                    <!-- </td> -->
                    <!-- <td>
                        <img src="Bottom.svg" alt="Img">
                    </td> -->
                <!-- </tr> -->
                
            <!-- </table> -->
        </div>
        <!-- <div class="">
            <div class="AboutUs">
                <img src="About-us-background1.avif" alt="Img"  >
            </div>
            
        </div> -->
        <div class="AboutUs" id="AbtUs">
            <div class="AboutUs-text" >
                <p style="color: black;"><b>About Us</b></p>
                <ul>
                    <li><b>Mission:</b> To simplify scrap collection and recycling by offering fair prices, easy scheduling, and eco-friendly solutions for every home.</li>
                    <li><b>Vision:</b>To lead the way in sustainable scrap management, making recycling convenient and rewarding for all.</li>
                    <li><b>Privacy and Security:</b> We prioritize the protection of users' data with robust encryption and strict privacy measures.</li>
                    <li><b>User-Friendly Interface:</b> Our website offers intuitive navigation and comprehensive search features for reporting and finding lost items.</li>

                </ul>
            </div>
            <div class="AboutUsImg">
                <img src="assets/img/About-Us1.avif" alt="Img" width="500px" height="300px">
            </div>
        </div>
        <br><br><br><br><br><br><br>
        <div class="GetStarted">
            <p style="font-size: 40;color: black;text-align: center;">Unlock a new source of income by selling your scrap effortlessly!</p>
            <a href="/AskPage" style="text-decoration: none;"><button class="button" style="display: block;margin: 0 auto;" >Get Started</button></a>
        </div>
    </article>
    <br><br><br>
    <footer>
        <div class="footernav" id="about_us">
          <div class="social_icons">
            <a href="https://www.facebook.com/iiitall/"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a href="https://www.instagram.com/iiit.allahabad/"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="https://twitter.com/iiita_official?lang=en"
              ><i class="fa-brands fa-twitter"></i
            ></a>
          </div>
          <div class="footernav">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/login">Login</a></li>
              <li>
                <a href="https://www.iiita.ac.in/" target="_blank"
                  >About IIITA</a
                >
              </li>
              <!-- <li><a href="">Contact Us</a></li> -->
            </ul>
          </div>
        </div>
        <div class="footerbottom">
          <p>Copyright &copy;2023</p>
        </div>
      </footer>
    
</div>
</body>
</html>

   