<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="CSS/LoginPageStylesheet.css">
</head>
<body>
    <div class="container">
        <div id="form-container">
            <form id="pickup-signup-form" method="post" action="/pickotp">
                <h2 style="text-align: center;">One Time Password</h2>
                <input  name="otp" type="number" id="signup-confirm-password" placeholder="One Time Password" required style="width: 275px;">
                <button type="submit">Continue</button>
            </form>
        </div>
    </div>
</body>
</html>
