body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 50px;
    background-color: rgba(256, 256, 256, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #043530;
}

body::before {
    content: ""; /* Create a pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/img/backgrounnd.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.6; /* Set the desired opacity */
    z-index: -1; /* Position it behind other content */
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #92c8a6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}